.carousel {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.figcaption {
  position: relative;

  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  color: #757575;

  width: 100%;
}
