.carousel {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: auto 0;
  border-radius: 11px;

  overflow: hidden;
}

.carousel-items {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;

  transition: 0.5s cubic-bezier(0.5, -0.39, 1, 1);
}

.figcaption {
  position: relative;

  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  color: #757575;

  width: 100%;
}
